<%- include('./partials/header') %>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Update Student</h1>
            <form action="/student/update/<%= student._id %> " method="post" class="form-control">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="name" value="<%= student.name%> ">
              </div>
              <div class="mb-3">
                <label for="roll" class="form-label">Roll</label>
                <input name="roll" class="form-control" type="text" id="roll" rows="3"  value="<%= student.roll%> "/>
              </div>
              <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input name="city" class="form-control" type="text" id="city" rows="3"  value="<%= student.city%> "/>
              </div>
              <button class="btn btn-danger" type="submit">Update</button>
            </form>
        </div>
    </div>


<%- include('./partials/footer') %>